/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';



.logo {
    height: 100px;
    width: auto;
    padding: 10px;
    display: block;
    margin: 0 auto;
    //background:url('assets/images/header-background-image-new.jpg') no-repeat center center;
}
.example-card mat-card
{
    display: block;
    margin-left: 21rem;
    margin-right: 40rem;
    /* align-items: center; */
    text-align: center;
    justify-content: center;
}

.example-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 12rem;
    border: rgba(0,0,0,0.7);
    margin-left: 34rem;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    
  }
  
 
  .example-container > * {
    width: 100%;
  }

  .heading--primary
  {
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 1rem;
    margin-top: -8rem;
    }
   
    .heading--sub
    {
      font-weight: 600;
      font-family: sans-serif;
      font-size: 2rem;
      margin-top: -1rem;
      margin-bottom: 2rem;
    }

    .heading--sub-sub
    {
        font-family: sans-serif;

    }
    
    .nav-signup-user
    {
        font-weight: bold;
        font-family: sans-serif;
        padding-left: 18rem;
        color: rgb(4, 108, 243);
    }

    .nav-signup-hospital
    {
        font-weight: bold;
        font-family: sans-serif;
        padding-left: 23rem;
        color: rgb(4, 108, 243);
    }
    
    .nav-forgotPassword
    {   
        padding-left: 23rem;
        font-weight: bold;
        font-family: sans-serif;
        color: rgb(4, 108, 243);
    }
    .mat-raised-button.mat-primary
    {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .footer-login
    {
      padding-top: 4rem;
      padding-bottom: 5rem;
    }

    .footer-forgotPassword
    {
      padding-top: 4rem;
      padding-bottom: 5rem;

    }
    .login-alert
    {
    border-style: groove;
    border-radius: 0.4rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: rgba(255, 0, 0, 0.5);
}

.auth-error
{
    font-family: sans-serif;
    color: red;
    font-weight: 300;
    text-align: left;
    padding-left: 1rem;
}

.btn-register
{
    padding-right: 17rem;
}
.btn-register-logIn
{
    margin-top: -36px;
    margin-left: 1rem;
}